<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.lostArkRaid.mapper.UserMapper">
  	
  	<select id="userLogin" parameterType="hashmap" resultType="com.lostArkRaid.vo.UserVo">
  		select userid,userpw,userApiKey,username,userCharacter from t_user where userid = #{userid} and userpw = #{userpw}
  	</select>
  	<select id="checkId" parameterType="string" resultType="_int">
		select count(*) from t_user where userid=#{userid}
	</select>
	<insert id="userJoin" parameterType="com.lostArkRaid.vo.UserVo">
		insert into t_user values (#{userid},#{userpw},#{userApiKey},#{username},
		#{userCharacterVo.characterName})
	</insert>
	<select id="findid" parameterType="string" resultType="string">
		select userid from t_user where userphone=#{phone}
	</select>
	<select id="findpw" parameterType="string" resultType="string">
		select userpw,useremail from t_user where userid=#{userid}
	</select>
	<select id="getApikey" parameterType="string" resultType="string">
		select userApiKey from t_user where discordid=#{name}
	</select>
	
  </mapper>